<div class="container">
    <h1>information</h1>
    <table>
        <tr>
            <th>Antal år som anställd</th>
            <th>Lojalitetsfaktor</th>
        </tr>
        <tr>
            <td>Mindre än ett år</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1 år</td>
            <td>1,1</td>
        </tr>
        <tr>
            <td>2 år</td>
            <td>1,2</td>
        </tr>
        <tr>
            <td>3 år</td>
            <td>1,3</td>
        </tr>
        <tr>
            <td>4 år</td>
            <td>1,4</td>
        </tr>
        <tr>
            <td>5 år eller mer</td>
            <td>1,5</td>
        </tr>
    </table>
    </div>